.section2{
   
background-color: white; 
 margin: 0% 5%; 
 border-radius: 20px;
}


input[type=text] {
  width: 200px;
  height: 50px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border-color: blue;
  border-radius: 20px;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 90%;

}

.nm {
  margin: 2%;

}

.card {
  max-width: max-content;
  border: none;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;

}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  margin: 20%;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  margin: 10% 20%;
  padding: 10px;
  border-radius: 20px;
  background-color: white;

  box-shadow: 2px 1px 200px 100px black;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.h5,
h5 {
  font-size: 1.25rem;
  font-weight: 800;
}


.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  font-size: larger;
  font-weight: 700;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}


/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;

}
