<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

 
  <link rel="stylesheet" href="style.css">
  <title>Best Plumber and Electrician in Kharar</title>
  <link rel="icon" href="favicon1.png">
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }

    function searchFun() {
      let filter = document.getElementById("myInput").value.toUpperCase();
      let tr = document.getElementsByClassName("mm");
      for (var i = 0; i < tr.length; i++) {

        let td = tr[i];
        if (td) {

          let textvalue = td.textContent || td.innerHTML;
          if (textvalue.toUpperCase().indexOf(filter) > -1) {
            document.getElementsByClassName("qw")[i].style.display = "block";
            console.log(textvalue.toUpperCase().indexOf(filter)); //  tr[i].style.display = "";
          } else {
            // tr[i].style.display = "none";   
            document.getElementsByClassName("qw")[i].style.display = "none";
            document.getElementById("vv").style.display = "block";

          }

        }
      }


    }
  </script>

</head>






<section style="background-color: #0099ff">
  <nav style="color: #0099ff;" class="navbar navbar-expand-lg navbar-light ">
    <a style="font-weight: 900; font-size: large;color: white;" class="navbar-brand" href="/"><i
        style="width: 50px; height: 50px;"><img style="width:50px; height: 50px" src="builder.png"></i> 
        KHARAR SERVICE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" style="font-size: larger;font-weight: 800; color: white; " href="/">Home <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo">
            <div style="font-weight:bolder; color: white;"> Hire Now </div>
          </a>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" style="color: white; font-weight: 700;" id="navbarDropdown"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Contact Us </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/idea">Earn Money </a>
            <a class="dropdown-item" type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal3"
              data-whatever="@mdo">Register Yourself</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" type="button" class="btn btn-dark"  href="/contact">Contact Us</a>
            <a class="dropdown-item" type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal3"
              data-whatever="@mdo">Complain</a>
          </div>
        </li>

      </ul>

    </div>
  </nav>
</section>

<body>
<section style=" background-color: white;  margin: 2% 5%; border-radius: 20px;">
    <div class="row">
        <div style="max-width: 100%;" class="col-lg-6">
            <div style="padding: 5% 7%; max-width: 100%;" class="col-lg-6">
                <div style="margin: 5%; border-radius: 10px;">
                    <h1 style="font-size: 3rem; font-weight: 500; font-weight: bold; font-family: sans-serif; "> Wish Your Friends With Our <br> Good Morning Messages
                    </h1>
                    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 1rem; 
       font-weight: bold; color: #0000ffbb;">And Help Some People</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="goodmorning.png" style="height: 20rem;">
          
        </div>
      
    </div>
   <div style="margin: 1% 20%;"><a style="background-color:#0000ffbb; font-weight: bold; color: white;  padding: 3% 5%; border-radius: 20px;" href="gooda.jpg" download> Download Your First Post</a>
</div>
</section>

<script>
    function name12(wa){
         
      
        document.getElementById("mn") = wa;
    };
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
